<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserTrackingUsageDescription</key>
	<string>reason, why you want to track user</string>
	<key>API_KEY</key>
	<string>AIzaSyBsh3CMNHopB18ExnKBnMDRNvOSFMpaVLE</string>
	<key>GCM_SENDER_ID</key>
	<string>60804847079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technontechtv.Swift-ExchangeBook</string>
	<key>PROJECT_ID</key>
	<string>ios-exchangebook</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-exchangebook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:60804847079:ios:478fd0824299ddf77a1942</string>
</dict>
</plist>
